{% extends "mal.html" %} 

{% block main %} 

<div>
    <h1>Selskap navn</h1>
    <h2>Selskap ticker</h2>
    <p>informasjon om selskapet
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aliquid dolores, magnam quibusdam ducimus doloremque tenetur ad tempora voluptate fugiat accusamus, distinctio molestias quia ratione corrupti eum voluptas delectus aliquam ullam culpa provident optio doloribus asperiores. Recusandae modi explicabo fugiat nihil quidem vel iste veniam dolores quae labore ea consequuntur maxime quas cupiditate amet quam tenetur omnis itaque porro odit pariatur, eos placeat. A quo aliquid aliquam distinctio tenetur dolorum ullam corporis veritatis, ipsam facere pariatur adipisci, ut tempora incidunt atque tempore earum voluptas reiciendis! Atque accusamus incidunt ut reiciendis possimus consequuntur suscipit molestiae omnis numquam quisquam odit, consectetur corrupti.
    </p>
</div>
<div>
    <p>graf av aksjekurs</p> 
    <p>informasjonsboks om aksjekurs</p>
    <p>api-hentet data </p>
</div>



{% endblock %} 